body{
  background-color: black;
}

.App-header{
  background-color: black;
}

.text-style{
  line-height: 58.03px;
  font-weight: 700;
  font-size: 50px;
  color:#F97316 ;
  font-family: 'Irish Grover', cursive;
}
